header {
    color: white;
    padding: 1%;
    background: black;
    font-size: 1rem;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

header>a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

header>a:hover {
    text-decoration: underline;
}

.active {
    color: blueviolet;
    cursor: default;
}

footer {
    color: white;
    padding: 1%;
    background: black;
    font-size: 1rem;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
}
